<div class="row">
  <div class="col-12">
    <img class="img-fluid" src="https://images-gmi-pmc.edge-generalmills.com/1e24b5e7-e3e3-43ce-b737-a2215397f006.jpg" alt= "">

  </div>
</div>
<div class="row">
  <div class="col-12">
    <h1>Recipe Name</h1>
  </div>
</div>

<div class="row">
  <div class="col-12">
<div class="btn-group">
  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Manage
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#">To shopping list</a>
    <a class="dropdown-item" href="#">Edit recipe</a>
    <a class="dropdown-item" href="#">Delete recipe</a>
  </div>
</div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <p>Description</p>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <p> ingredients</p>
  </div>
</div>
